*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    border: 2px solid red;
    width: 50px;
}
#box1{
    order: 1;
}
#box2{
    order: 3;
}