div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example{
    /*from {
        background-color: aquamarine;
    }
    to{
        background-color: red;
    }*/
    0%{
        background-color: aquamarine;}
        25%{
            background-color: green;
        }
        50%{
            background-color: red;
        }
        75%{
            background-color: blue;
        }
        100%{
            background-color: yellow;
        }
    
}