div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: example;
    animation-duration: 4s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes example{
    0%{
        background-color: aquamarine;left: 0px;top: 0px;
    }
    25%{
        background-color: rgb(red, green, blue);left: 300px;top: 0px;
    }
    50%{
        background-color: blue;left: 300px;top: 300px;
    }
    75%{
        background-color: red;left: 0px;top: 300px;
    }
    100%{
        background-color: yellow;top: 0px;left: 0px;
    }
}